@layer reset, component, page, app;
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

/* To align multi-column group of fields */
.chakra-field__root {
  grid-row: span 3; /* label, input, error */
  display: grid;
  grid-template-rows: subgrid;

  & > [data-part='label'] {
    align-self: end;
  }

  & > [data-part='error-text'] {
    align-self: start;
  }
}
